# Versioning and metadata
.git
.gitignore
.dockerignore

/apps/orders/node_modules
/apps/billing/node_modules
/apps/auth/node_modules

# Build depedencies
dist.do
node_modules

# Misc
.eslintrc.json
.prettierrc
README.md



